.contact {
  height: auto;
  margin-top: 5%;
  // scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: white;
  // width: 100%;

  .contact-content {
    width: 1400px;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-rows: auto;
    align-items: center;

    h1{
      text-align: center;
    }

    .contact-me {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      // align-items: center;
      padding: 20px;
      margin-bottom: 20px;

      .details {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20%;
        margin-top: auto;
        h1{
          color: white;
        }
        .personal{
        display: flex;
        h1{
          color: white;
        }

        .personal-info{
          display: flex;
          flex-direction: column;

          .text{
            font-size: 15px;
            margin: 5px;
            color: rgb(200, 200, 200);
          }
        }
      }
    }
      .forms {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;

        .email {
          input {
            padding: 15px;
            border-radius: 5px;
          }
        }
        .mobile {
          input {
            padding: 15px;
            border-radius: 5px;
          }
        }
        .textarea {
            textarea{
                border-radius: 5px;
                padding: 15px;
            }
        }
        .btn-div{
            display: flex;
            justify-content: center;
            .btn{
                padding: 10px;
                border: none;
                border-radius: 5px;
                background: #92bff9;
                font-size: 18px;
            }
            .btn-success{
                padding: 10px;
                border: none;
                background: #51e86a;
                border-radius: 5px;
                font-size: 18px;
            }
        }
      }
    }

    h1 {
      margin-left: 12px;
    }

    .contact-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .left {
        margin:15px;
      }

      .right {
        margin: 15px ;
        span {
          margin: 0 10px;
          font-size: 25px;
        }
      }
      @media only screen and (max-width : 768px){
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
