.skill{
    height: auto;
    margin: 5% 0;
    // scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


    .skills-content{
        max-width: 1400px;
    
        .skills-heading{
            text-align: center;
            font-family: 'Bangers', cursive;
            letter-spacing: 2px;
            font-weight: 200;

        }

      .skills-manage{
        display: flex;
        justify-content: center;
        align-items: center;

        ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            flex: auto;
            margin-right: 45px;

            li{
                text-align: center;
                padding: 15px;
                margin: 15px ;
                // border: 2px solid rgb(245, 157, 157);
                border-radius: 10px;
                border-width: 5px;
                border-style: solid;
                flex: 2 80px;
                transition: 0.8s;
                border-image: linear-gradient(90deg, rgb(237, 176, 176), rgb(163, 163, 250))1;

                &:hover{
                border-image: linear-gradient(90deg, rgb(245, 126, 126), rgb(100, 100, 231))1;
                transition: 0.8s;
                transform: translateY(-4%); 
                color: rgb(162, 255, 162);              
                }
            }
        }
      }
    }
}