body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}
.main{
    height: 100vh;
    background: #1e1e20;
    color: white;
    background-position: center;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    
}