:root {
    --color-default: #222222;
    --color-primary: #1d46ff;
    --color-secondary: #f85a40;
  }

body{
    margin: 0px;
    padding: 0px;
    // font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
    width: 100vw;
    background: linear-gradient( rgb(193, 193, 255)0%, rgb(162, 255, 162)100%);

    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: rgb(149, 149, 230);
        }
    }
}
*{
    scroll-behavior: smooth;
}

// liner background color
// F0F2F5

#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: #262626;
    transition: all 0.6s ease-out;

      
  &::before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #fff;
    border-color: var(--color-primary) transparent var(--color-primary) transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;

      
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  }

  }