.project{
    height: auto;
    // scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .project-content{
        max-width: 1400px;
       
        h1{
            text-align: center;
            margin-bottom: 25px;
            // color: rgb(162, 73, 245);
            font-family: 'Bangers', cursive;
            letter-spacing: 1px;
            font-weight: 200;
        }

        .list-projects{
            display: flex;
            flex-wrap: wrap;
            margin: 25px 0;
            gap: 25px;
            .list{
                text-align: center;
                border-radius: 10px;
                padding: 20px;
                flex: 1 200px;
                margin: 20px;
                background-color: rgb(69, 69, 72);
                // background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255,255, 0));
                color: rgb(40, 38, 38);
                // border: 1px solid;
                // background-color: blur(20px);
                backdrop-filter: blur(50px);
                -webkit-backdrop-filter: blur(10px);
                transition: .3s;
                position: relative;
            
                &:hover{
                    box-shadow: 2px 2px 2px 1px;
                    background: rgb(79, 79, 85);
                }
            }
        }
        .int{
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-around;
            margin: 20px;
            gap: 30px;
            .list-int{
                text-align: center;
                border-radius: 10px;
                padding: 20px;
                background-color: transparent;
                flex: 1 auto;
                background-color: rgb(69, 69, 72);

                // background: linear-gradient(135deg, rgb(205, 205, 250), rgb(245, 245, 200));
                color: rgb(251, 246, 246);
                // border: 1px solid;
                // background-color: blur(20px);
                backdrop-filter: blur(30px);
                -webkit-backdrop-filter: blur(30px);
                transition: .3s;
                
                &:hover{
                    box-shadow: 2px 2px 2px 1px;
                    background: rgb(79, 79, 85);
                }
            }
        }
    }
}