.project {
  height: auto;
  // scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .project-content {
    max-width: 1400px;

    h1 {
      text-align: center;
      margin-bottom: 25px;
      // color: rgb(162, 73, 245);
      font-family: "Bangers", cursive;
      letter-spacing: 1px;
      font-weight: 200;
    }

    .list-projects {
      display: flex;
      flex-wrap: wrap;
      margin: 25px 0;
      gap: 25px;
      .list {
        text-align: center;
        border-radius: 10px;
        padding: 20px;
        flex: 1 350px;
        margin: 20px;
        // background-color: rgb(69, 69, 72);
        background: linear-gradient(#45c8cf 0%, #086ca7 100%);
        color: rgb(40, 38, 38);
        // border: 1px solid;
        // background-color: blur(20px);
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(10px);
        transition: 0.8s;
        position: relative;

        &:hover {
            transition: 0.5s;
          scale: 1.1;
          background: linear-gradient(#45c8cf 0%, #086ca7 100%);
        }
      }
      .list-git {
        text-align: center;
        border-radius: 10px;
        padding: 20px;
        flex: 1 200px;
        margin: 20px;
        // background-color: rgb(69, 69, 72);
        background: linear-gradient(#45cfad 0%, #08a785 100%);
        color: rgb(40, 38, 38);
        // border: 1px solid;
        // background-color: blur(20px);
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(10px);
        transition: 0.8s;
        position: relative;

        &:hover {
            transition: 0.5s;
            transform: scale(1.1);
        background: linear-gradient(#40bc9d 0%, #089a7a 100%);

        }
      }
    }
    .int {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-around;
      margin: 20px;
      gap: 30px;
      .list-int {
        text-align: center;
        border-radius: 10px;
        padding: 20px;
        background-color: transparent;
        flex: 1 auto;
        background: linear-gradient(
          rgb(78, 188, 135) 0%,
          rgb(38, 168, 87) 100%
        );

        // background: linear-gradient(135deg, rgb(205, 205, 250), rgb(245, 245, 200));
        color: rgb(251, 246, 246);
        // border: 1px solid;
        // background-color: blur(20px);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        transition: 0.8s;

        &:hover {
          background: linear-gradient(
            rgb(74, 177, 127) 0%,
            rgb(36, 157, 83) 100%
          );
          transform: translateY(-5%);
          transition: 0.5s;
        }
      }
    }
  }
}
